!!!
%html
  %head
    %title Stream Status
  %body
    %h1 Stream Status

    %table
      %tr
        %th Stream
        %th Status
        %th Viewers
        %th Game
        %th Title
      - @streams.each do |stream|
        %tr
          %td
            %a{href: stream.stream_uri} #{stream.username}
          %td= stream.is_live? ? "Online" : "Offline"
          %td= stream.viewers
          %td= stream.game
          %td= stream.title
