!!!
%html
  %head
    %title Stream Status
  %body
    %h1 Stream Status

    %table
      %tr
        %th Stream
        %th Status
        %th Viewers
        %th Game
        %th Title
        %th Age
      - @streams.each do |stream|
        %tr
          %td
            %a{href: stream.stream_uri} #{stream.username}
          %td= stream.is_live? ? "Online" : "Offline"
          %td= stream.viewers
          %td= stream.game
          %td= truncate(stream.title)
          %td= "#{stream.age} seconds"

    %p Note 1: Hashd.tv does not list the name of games in their API. If you see a hex string instead of a game name, please tell me the string and the game being played so I can add it to the filters.
    %p Note 2: Twitch.tv does not say which game was last being played if the stream is currently offline.


    %h2 Create a sig image
    %form{action: '/create', method: 'post'}
      %input{type: 'text', placeholder: 'Stream link'}
      %input{type: 'submit', value: 'Create!'}
    %p Use the complete link to your stream. Examples:
    %ul
      %li Twitch: <kbd>http://twitch.tv/username</kbd>
      %li Hashd: <kbd>http://hashd.tv/username</kbd>

    %p <strong>Notice:</strong> This is currently in development, and as such signatures are only allowed on the Penny Arcade forums. I will open it up for more sites as development continues.
