!!!
%html
  %head
    %title Stream Status
  %body
    %h1= "#{@stream.username} on #{@stream.service}"
    %p= "<code>#{@stream.inspect}</code>"
    %p= "Object age: #{@stream.updated_at}"
    %div= partial "embed/#{@stream.service}"
